<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alan.mapper.SchedulingMapper">

    <update id="updateSchedulingByCode">
        update scheduling set status = '4',REMARK = '手动设置已完工状态',moditime = sysdate where code = #{code}
    </update>

    <select id="selectByCode" resultType="com.alan.pojo.Scheduling">
        SELECT * FROM scheduling WHERE CODE = #{code}
    </select>
    <select id="selectAll" resultType="com.alan.pojo.Scheduling">
        SELECT * FROM scheduling WHERE rownum <![CDATA[<=]]> 10
    </select>
    <select id="selectByPage" resultType="com.alan.pojo.Scheduling">
        select a.* from ( select t.*,rownum rowno from SCHEDULING t where rownum <![CDATA[<=]]> #{begin} ) a where a.rowno > #{size}
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*) from scheduling
    </select>
    
    
    <select id="selectByPageANDCondition" resultType="com.alan.pojo.Scheduling">
        select a.* from ( select t.*,rownum rowno from SCHEDULING t 
        <where>
            <if test="scheduling.code != null and scheduling.code != ''">
                and t.code = #{scheduling.code}
            </if>
            <if test="scheduling.status != null and scheduling.status != ''">
                and t.status = #{scheduling.status}
            </if>
            and  rownum <![CDATA[<=]]> #{begin}
        </where>
            ) a where a.rowno > #{size}



    </select>
    <select id="selectConditionTotalCount" resultType="java.lang.Integer">

        select count (*)  from SCHEDULING t
        <where>
            <if test="code != null and code != '' ">
                and t.code = #{code}
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
        </where>

    </select>


    <delete id="deleteByCode">
        delete from scheduling where code = #{code}
    </delete>

</mapper>