<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排程数据</title>
    <!--引入vue.js-->
    <script src="js/vue.js"></script>

    <!--&lt;!&ndash;    引入 element js css&ndash;&gt;-->
    <!--    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">-->
    <!--    <script src="element-ui/lib/index.js"></script>-->

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.9/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.15.9/lib/index.js"></script>

    <script src="js/axios-0.18.0.js"></script>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

<div id="app">

    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="排程">
            <el-input v-model="formInline.code" placeholder="排程" clearable></el-input>
        </el-form-item>
                <el-form-item label="状态">
                    <el-select v-model="formInline.status" placeholder="状态" clearable>
                        <el-option label="草稿" value="0"></el-option>
                        <el-option label="已发布" value="1"></el-option>
                        <el-option label="生产中" value="2"></el-option>
                        <el-option label="暂停" value="3"></el-option>
                        <el-option label="已完工" value="4"></el-option>
                        <el-option label="已删除" value="9"></el-option>
                    </el-select>
                </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="loadTablData">查询</el-button>
        </el-form-item>
    </el-form>

    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55"
                    label="全选">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="code"
                    label="排程">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="charlinecode"
                    label="线体">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="materialcode"
                    label="物料">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="moqty"
                    label="订单量">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="schedulingqty"
                    label="排程量">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="inputqty"
                    label="投入量">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="completeqty"
                    label="产出量">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="status"
                    label="状态"
            >
                <template slot-scope="scope">
                    {{scope.row.status | status}}
                </template>

            </el-table-column>
            <el-table-column label="操作">

                <template slot-scope="{row}">
                    <el-popconfirm
                            title="确定要更新当前排程为已完工吗？"
                            @confirm="updateCode(row)">
                        <el-button
                                size="mini"
                                type="primary"
                                slot="reference">
                            已完工
                        </el-button>
                    </el-popconfirm>

                    <el-popconfirm
                            title="确定要删除当前行吗？"
                            @confirm="deleteCode(row)">
                        <el-button
                                size="mini"
                                type="danger"
                                slot="reference"
                        >
                            删除
                        </el-button>
                    </el-popconfirm>

                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--    分页-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>


</body>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                tableData: {},

                //     [{
                //     code: 'YDMW9211072A-001',
                //     mo: 'YDMW9211072A',
                //     charLineCode: 'WH_ASM013',
                //     materialCode:'SA78D21306',
                //
                // }]

                //总记录数
                totalCount: 100,
                //当前页码
                currentPage: 1,
                //每页数量
                pageSize: 5,

                currentRow: null,
                multipleSelection: [],
                //查询表单
                formInline: {
                    code: '',
                    status: ''
                }
            }

        },

        filters: {
            status(status) {
                if (status == 0) {
                    return "草稿"
                } else if (status == 1) {
                    return "已发布"
                } else if (status == 2) {
                    return "生产中"
                } else if (status == 3) {
                    return "暂停"
                } else if (status == 4) {
                    return "已完工"
                } else if (status == 9) {
                    return "已删除"
                }
            }
        },
        methods: {

            // //查询排程
            // Submit1() {
            //     var _this = this
            //     let common_table_info = [];
            //     axios({
            //         method: 'post',
            //         url: 'http://localhost/WorkTools/schedule/selectSchedulingByCode',
            //         data: _this.formInline.code
            //     }).then(function (resp) {
            //         //_this.tableData = resp.data
            //         _this.currentPage = 1
            //         _this.pageSize = 1
            //         _this.totalCount = 1
            //
            //         /**
            //          * 这里需要将拿到的对象转为数组，进行赋值，这样才不会宝类型错误
            //          */
            //
            //         common_table_info.push(resp.data);
            //
            //         _this.tableData = common_table_info;
            //
            //
            //     })
            //
            //
            // },

            //更新排程
            updateCode(row) {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost/WorkTools/schedule/updateByCode',
                    data: row.code
                }).then(function (resp) {
                    if (resp.data == 'success') {
                        _this.$message({
                            message: '更新成功',
                            type: 'success'
                        });
                        _this.formInline.code = null
                        _this.loadTablData()
                    } else {
                        _this.$message.error('更新失败' + resp.data);
                    }
                })
            },

            //删除
            deleteCode(row) {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost/WorkTools/schedule/deleteByCode',
                    data: row.code
                }).then(function (resp) {
                    if (resp.data == 'success') {
                        _this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        _this.formInline.code = null
                        _this.loadTablData()
                    } else {
                        _this.$message.error('删除失败' + resp.data);
                    }
                })
            },

            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.loadTablData();
            },

            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.loadTablData();
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 2 === 0) {
                    return '';
                } else {
                    return 'success-row';
                }
            },

            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            loadTablData() {
                let _this = this
                if (this.formInline.code){
                    this.currentPage = 1
                    this.pageSize = 5
                }
                axios({
                    method: "post",
                    url: "http://localhost/WorkTools/schedule/selectByPage?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data:this.formInline
                }).then(function (resp) {
                    _this.tableData = resp.data.rows;
                    _this.totalCount = resp.data.totalCount
                })
            }
        },


        mounted() {
            this.loadTablData()
        }

    })

</script>
</html>